:root {
    // header
    --header-background-color: #0b234b;
    --header-text-color: #fff;

    // button
    --button-background-color: #0b234b;
    --button-border-color: #0b234b;
    --button-text-color: #fff;
    --button-text-hover-color: #0b234b;
    --button-background-hover-color: #fff;
}
